*{
    text-align: center;
}

html{
    background-color: rgb(224, 167, 23, 0.5);
    font-size: 16px;
    font-family: "Jua", Arial, monospace;
}

body{
    width: 640px;
    margin: auto; /* 너비에서 남는 여백을 동일하게 분배 */
}

h1{
    font-size: 48px;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

p{
    font-size: 1.2rem;
}

mark{
    background-color: rgb(255, 0, 0, 0.5);
}