/* 전체적인 세팅부터 */
*{
    box-sizing: border-box;
}

html{
    height: 100%;
    font-family: "Jua", Arial, monospace;
}

body{
    height: 100%;
    margin: 0px;
}

.container{
    height: 100%;
    background-color: rgba(235, 245, 208, 0.5);
}

/* 스크린 크기 조정 */
.chat-screen{
    height: calc(100% - 120px);
}

/* 유저 정보 표시 부분 */
.user{
    background-color: white;
    padding: 16px;
    height: 80px;
}

.user_column{
    float: left;
}

.user_pic{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgba(127, 255, 212, 0.5);
}

.user_nick, .user_count{
    margin: 5px;
}

.user_count{
    font-size: 12px;
    color: gray;
}

.chat_form{
    height: 120px;
    background-color: white;
}

.chat_form_field{
    height: 120px;
}

.chat_form_msg{
    width: calc(100% - 120px);
    height: 120px;
    border: none;
    resize: none;
    font-size: 24px;
    padding: 10px;
}

.chat_form_bt{
    float: right;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background-color: rgba(127, 255, 212, 0.5);
    font-size: 18px;
    border: none;
}

.chat_form_msg:focus{
    outline: none;
}

.chat_form_bt:active{
    background-color: rgba(60, 130, 107, 0.5);
}

img{
    width: 30px;
    height: 30px;
    float: right;
    margin-left: 0px;
}

.alarm_count{
    font-size: 12px;
    color: gray;
    float: right;
    margin-right: 0px;
}